@page "/packetsdashboard"

@using MLIDS.Web.Blazor.Data
@using MLIDS.Web.Blazor.Models

@inject PacketDataService PacketService

<h1>Packets Dashboard</h1>

<EditForm Model="@_requestModel" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <InputDate id="startDate" @bind-Value="@_requestModel.StartTime" />

        <label for="endDate">End Date</label>
        <InputDate id="endDate" @bind-Value="@_requestModel.EndTime" />

        <button type="submit" class="btn-primary">Run Query</button>
    </div>
</EditForm>

@if (packets != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Source IP</th>
                <th>Source Port</th>
                <th>Dest IP</th>
                <th>Dest Port</th>
                <th>Hostname</th>
                <th>Protocol Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var packet in packets)
            {
                <tr>
                    <td>@packet.SourceIPAddress</td>
                    <td>@packet.SourcePort</td>
                    <td>@packet.DestinationIPAddress</td>
                    <td>@packet.DestinationPort</td>
                    <td>@packet.HostName</td>
                    <td>@packet.ProtocolType</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MLIDS.lib.ML.Objects.PayloadItem> packets;

    private PacketQueryModel _requestModel = new PacketQueryModel();

    private async void HandleValidSubmit()
    {
        packets = await PacketService.GetPayloadItemsAsync(_requestModel.StartTime, _requestModel.EndTime);
    }
}